<section class="about" id="about">
    <div class="container">
        <h3 class="about-subtitle secondary-title">tradition and love</h3>
        <h2 class="about-title main-title">how it’s made?</h2>
        <div class="about-content-wrapper">
            <picture>
                <source srcset="
            ./images/about/about-image-cow-mobile.webp    1x,
            ./images/about/about-image-cow-mobile_2x.webp 2x,
            ./images/about/about-image-cow-mobile.png     1x,
            ./images/about/about-image-cow-mobile@2x.png  2x
          " type="image/webp" media="(max-width:767px)" />
                <source srcset="
            ./images/about/about-image-cow-desktop.webp    1x,
            ./images/about/about-image-cow-desktop_2x.webp 2x,
            ./images/about/about-image-cow-desktop.png     1x,
            ./images/about/about-image-cow-desktop@2x.png  2x
          " type="image/webp" media="(min-width:1200px)" />
                <source srcset="
            ./images/about/about-image-cow-tablet.webp    1x,
            ./images/about/about-image-cow-tablet_2x.webp 2x,
            ./images/about/about-image-cow-tablet.png     1x,
            ./images/about/about-image-cow-tablet@2x.png  2x
          " type="image/webp" media="(min-width:768px)" />
                <img class="about-image-cow" src="./images/about/about-image-cow-mobile.png"
                    alt="Image with milk and cow" />
            </picture>
            <div class="about-text-wrapper">
                <p class="about-introduction-text">
                    Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros.
                    Maecenas eleifend erat at justo fringilla.

                    Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros.
                    Maecenas eleifend erat at justo fringilla.

                </p>
                <p class="about-general-text">

                    Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat.
                    Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
                    <br/><br/>Aliquam erat volutpat. Aenean accumsan.
                </p>
                <button class="about-modal-button" type="button" aria-label="Read more">
                    <span class="about-modal-button-text">Read more.</span>
                    <svg class="about-modal-button-icon-svg" width="5" height="8">
                        <use href="./images/sprite.svg#icon-Vector"></use>
                    </svg>
                </button>
            </div>
        </div>

</section>