<!--------------------HEADER--------------->
<header>
  <nav class="navigation">
    <div class="navigation__wrapper container">
      <a href="index.html" class="logo logo--main"
        ><img src="../src/images/hero-images/logo.png" alt="IceCream logo"
      /></a>
      <button class="navigation__burger">
        <svg class="navigation__burger-icon">
          <use href="./images/sprite.svg#burger"></use>
        </svg>
      </button>
      <div class="navigation__items">
        <ul class="navigation__list">
          <li class="navigation__list-item">
            <a class="navigation__link active-page link" href="">Home</a>
          </li>
          <li class="navigation__list-item">
            <a class="navigation__link link" href="">About us</a>
          </li>
          <li class="navigation__list-item">
            <a class="navigation__link link" href="">How it's made?</a>
          </li>
          <li class="navigation__list-item">
            <a class="navigation__link link" href="">Our products</a>
          </li>
          <li class="navigation__list-item">
            <a class="navigation__link link" href="">Contact</a>
          </li>
        </ul>
      </div>
      <button type="button" class="btn btn--nav" data-modal-open>
        Buy now
        <svg class="btn-vector" width="4" height="8">
          <use href="./images/sprite.svg#icon-Vector"></use>
        </svg>
      </button>
    </div>
  </nav>
  <!--------- mobile menu ----->
  <div class="menu">
    <div class="menu__close">
      <svg class="menu__close-icon">
        <use href="./images/sprite.svg#close"></use>
      </svg>
    </div>

    <button type="button" class="btn btn--mobile" data-modal-open>
      Buy now
      <svg class="btn-vector" width="4" height="8">
        <use href="./images/sprite.svg#icon-Vector"></use>
      </svg>
    </button>

    <div class="menu__list">
      <ul class="menu__nav">
        <li class="menu__nav-item">
          <a class="menu__link active-page-menu" href="index.html">Home</a>
        </li>
        <li class="menu__nav-item">
          <a class="menu__link" href="">About us</a>
        </li>
        <li class="menu__nav-item"><a class="menu__link" href="">How it's made?</a></li>
        <li class="menu__nav-item"><a class="menu__link" href="">Our products</a></li>
        <li class="menu__nav-item"><a class="menu__link" href="">Contact</a></li>
      </ul>
    </div>
  </div>
</header>

<!--------- HERO ----->

<section class="hero">
  <div class="hero__box">
    <!--------- title ----->

    <div class="hero__title-box">
      <h1 class="hero__title">
        ice cream <br />
        made with <br />
        <span class="main-title">passion</span>
      </h1>
      <div class="hero-button-wrapper">
        <button class="btn btn--pro">Products</button>
        <button class="btn btn--made">How it’s made?</button>
      </div>
    </div>

    <!------- opportunities ----->

    <ul class="hero-opportunities-list list">
      <li class="hero-opportunities-list-item">
        <span class="hero-opportunities-list-item-figures">16</span>
        <p class="hero-opportunities-list-item-desc">cafes</p>
      </li>

      <li class="hero-opportunities-list-item">
        <span class="hero-opportunities-list-item-figures">23</span>
        <p class="hero-opportunities-list-item-desc">food trucks</p>
      </li>
    </ul>

    <!--------- description ----->

    <div class="hero__description-wrapper">
      <p class="hero-description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et
      </p>
      <a href="">
        <picture>
          <source
            srcset="
              ./images/hero-images/hero-arrow/arrow-desktop-webp1x.webp 1x,
              ./images/hero-images/hero-arrow/arrow-desktop-webp2x.webp 2x,
              ./images/hero-images/hero-arrow/arrow-desktop1x.jpg       1x,
              ./images/hero-images/hero-arrow/arrow-desktop2x.jpg       2x
            "
            type="image/webp"
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/hero-images/hero-arrow/arrow-tablet-webp1x.webp 1x,
              ./images/hero-images/hero-arrow/arrow-tablet-webp2x.webp 2x,
              ./images/hero-images/hero-arrow/arrow-tablet1x.jpg       1x,
              ./images/hero-images/hero-arrow/arrow-tablet2x.jpg       2x
            "
            type="image/webp"
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/hero-images/hero-arrow/arrow-mobile-webp1x.webp 1x,
              ./images/hero-images/hero-arrow/arrow-mobile-webp2x.webp 2x,
              ./images/hero-images/hero-arrow/arrow-mobile1x.jpg       1x,
              ./images/hero-images/hero-arrow/arrow-mobile2x.jpg       2x
            "
            type="image/webp"
            media="(min-width:320px)"
          />
          <img
            class="hero__arrow"
            src="./images/hero-images/hero-arrow/arrow-mobile1x.jpg"
            alt="rightarrow photo"
          />
        </picture>
      </a>
    </div>
  </div>
</section>
