<!--------------------HEADER--------------->
<header class="header">
  <nav class="navigation">
    <div class="navigation__wrapper container">
      <a href="index.html" class="logo logo--main"
        ><img src="../src/images/hero-images/logo.png" alt="IceCream logo"
      /></a>
      <button class="navigation__burger">
        <svg class="navigation__burger-icon">
          <use href="./images/sprite.svg#burger"></use>
        </svg>
      </button>
      <div class="navigation__items">
        <ul class="navigation__list">
          <li class="navigation__list-item">
            <a class="navigation__link active-page link" href="index.html">Home</a>
          </li>
          <li class="navigation__list-item">
            <a class="navigation__link link" href="">About us</a>
          </li>
          <li class="navigation__list-item">
            <a class="navigation__link link" href="#about">How it's made?</a>
          </li>
          <li class="navigation__list-item">
            <a class="navigation__link link" href="#products-link">Our products</a>
          </li>
          <li class="navigation__list-item">
            <a class="navigation__link link" href="#contact-link">Contact</a>
          </li>
        </ul>
      </div>
      <button type="button" class="btn btn--nav" data-modal-open>
        Buy now
        <svg class="btn-vector" width="4" height="8">
          <use href="./images/sprite.svg#icon-Vector"></use>
        </svg>
      </button>
    </div>
  </nav>
  <!--------- mobile menu ----->
  <div class="menu">
    <div class="menu__close">
      <svg class="menu__close-icon">
        <use href="./images/sprite.svg#close"></use>
      </svg>
    </div>

    <button type="button" class="btn btn--mobile" data-modal-open>
      Buy now
      <svg class="btn-vector" width="4" height="8">
        <use href="./images/sprite.svg#icon-Vector"></use>
      </svg>
    </button>

    <div class="menu__list">
      <ul class="menu__nav">
        <li class="menu__nav-item">
          <a class="menu__link active-page-menu" href="index.html">Home</a>
        </li>
        <li class="menu__nav-item">
          <a class="menu__link" href="">About us</a>
        </li>
        <li class="menu__nav-item"><a class="menu__link" href="#about">How it's made?</a></li>
        <li class="menu__nav-item"><a class="menu__link" href="#products-link">Our products</a></li>
        <li class="menu__nav-item"><a class="menu__link" href="#contact-link">Contact</a></li>
      </ul>
    </div>
  </div>
</header>
