<section class="hero hero-container">

    <div class="max-hero">
        <div class="hero-wrapper">
            <div class="tittle-wrapper">
                <h1 class="secondary-title">ice cream <br> made with <br>
                    <span class="main-title">passion</span></h1>
            
                    <div class="hero-button-wrapper">
                        <button class="hero-button btn-products">Products</button>
                        <button class="hero-button btn-how-its-made">How it’s made?</button>
                    </div>
            </div>
        
                <ul class="hero-opportunities-list list">
        
                    <li class="hero-opportunities-list-item">
                        <span class="hero-opportunities-list-item-figures">16</span>
                        <p class="hero-opportunities-list-item-desc">cafes</p>
                    </li>
            
                    <li class="hero-opportunities-list-item">
                        <span class="hero-opportunities-list-item-figures">23</span>
                        <p class="hero-opportunities-list-item-desc">food trucks</p>
                    </li>
                </ul>
        </div>
    
    
        <div class="hero-description-wrapper">
            <p class="hero-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
            <a href="">
                <picture>
                    <source srcset="./images/hero-images/hero-arrow/arrow-desktop-webp1x.webp 1x,
                                    ./images/hero-images/hero-arrow/arrow-desktop-webp2x.webp 2x,
                                    ./images/hero-images/hero-arrow/arrow-desktop1x.jpg 1x,
                                    ./images/hero-images/hero-arrow/arrow-desktop2x.jpg 2x
                        " type="image/webp" media="(min-width:1200px)" />
                    <source srcset="./images/hero-images/hero-arrow/arrow-tablet-webp1x.webp 1x,
                                    ./images/hero-images/hero-arrow/arrow-tablet-webp2x.webp 2x,
                                    ./images/hero-images/hero-arrow/arrow-tablet1x.jpg 1x,
                                    ./images/hero-images/hero-arrow/arrow-tablet2x.jpg 2x
                        " type="image/webp" media="(min-width:768px)" />
                    <source srcset="./images/hero-images/hero-arrow/arrow-mobile-webp1x.webp 1x,
                                    ./images/hero-images/hero-arrow/arrow-mobile-webp2x.webp 2x,
                                    ./images/hero-images/hero-arrow/arrow-mobile1x.jpg 1x,
                                    ./images/hero-images/hero-arrow/arrow-mobile2x.jpg 2x
                        " type="image/webp" media="(min-width:320px)" />
                    <img class="hero-arrow" src="./images/hero-images/hero-arrow/arrow-mobile1x.jpg"
                        alt="Zdiecie strzalka w pravo" />
                </picture>
            </a>
        </div>
    
    </div>
  
  </section>
  