// -----------NAV MENU----------
.header {
  position: relative;
  z-index: 5;
  background-color: transparent;
}
.navigation {
  &__wrapper {
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  &__items {
    display: none;
    margin: 0;
  }
  &__burger {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-left: auto;
    padding-top: 38px;
    padding-right: 30px;
    border: none;
    background-color: transparent;
    &-icon {
      width: 20px;
      height: 20px;
    }
  }
}

.btn {
  font-family: $main-font;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  border: none;
  border-radius: 22px;
  letter-spacing: 0.06em;
}

.btn-vector {
  margin-left: 10px;
}

.btn--nav {
  width: 159px;
  height: 44px;
  justify-content: end;
  align-items: center;
  background-color: $contacts-background;
  color: $accent-text-color;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  text-align: center;
  border-width: 0;
  border-radius: 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    background-color: $hover-background;
  }
}

.btn--mobile {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  margin-bottom: 19px;

  width: 159px;
  height: 44px;
  align-items: center;
  background-color: #fff;
  color: #d41443;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  text-align: center;
  border-width: 0;
  border-radius: 22px;
  transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.logo--main {
  margin-top: 38px;
}

// ---------MOBILE MENU-------

.menu {
  display: block;
  width: 254px;
  height: 482px;
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  padding-bottom: 60px;
  background-color: #e17992;
  border: 1px solid #ececec;
  &__close {
    position: absolute;
    display: flex;
    justify-content: end;
    align-items: center;
    border: none;
    margin-left: auto;
    padding: 0;
    background-color: transparent;
    z-index: 4;
    top: 23px;
    right: 34px;
    &-icon {
      width: 20px;
      height: 20px;
      fill: black;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &__list {
    font-weight: 500;
  }
  &__nav {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.26;

    &-item {
      width: 100%;
      border-top: 1px solid #e18298;
      border-bottom: 1px solid #e18298;
      height: 42px;
      padding-left: 21px;
      padding-top: 13px;
      padding-bottom: 11px;
    }
  }
  &__link {
    color: #fff;
    text-decoration: none;

    transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
      color: $accent-background-color;
    }
  }
}

// ----------MEDIA-----------

@media screen and (max-width: 767px) {
  .btn--nav {
    display: none;
  }
  .navigation__wrapper {
    padding: 0;
  }
}

@media screen and(min-width: 768px) {
  .btn--nav {
    margin-top: 38px;
    // margin-right: 34px;
    display: block !important;
  }

  .navigation {
    height: 80px;

    &__items {
      display: none;
    }
    &__list {
      display: none;
    }

    &__link {
      font-weight: 500;
      font-size: 14px;
      letter-spacing: 0.02em;
      color: white;
      &:hover,
      &:focus {
        color: $accent-text-color;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .logo--main {
    padding-left: 46px;
  }
  .btn--nav {
    display: block !important;
  }

  .navigation {
    &__burger {
      display: none;
    }
    &__items {
      display: flex;
      margin-left: 92px;
      margin-top: 38px;
    }
    &__list {
      margin-right: 50px;
      display: flex;
      align-items: center;
      width: 488px;
      justify-content: space-between;
    }
  }
}
