.hero-container {
  position: relative;
  left: 0;
  top: -56px;
  // padding-left: 3%;
  // padding-right: 3%;
  @media screen and (min-width: 320px) {
    top: -93px;
    min-width: 320px;
    margin: 0 auto;
  }
  @media screen and (min-width: 768px) {
    top: -87px;
    min-width: 768px;
    padding-left: 34px;
    padding-right: 34px;
  }
  @media screen and (min-width: 1200px) {
    min-width: 1200px;
    padding-left: 115px;
    padding-right: 115px;
  }
}
.hero {
  background-color: $hero-background-color;
  .secondary-title {
    font-size: 26px;
    color: $white-title-color;
  }
  .main-title {
    font-size: 48px;
  }
}
.hero-button-wrapper {
  display: flex;
}
.hero-button {
  font-family: $main-font;
  font-weight: normal;
  font-size: 8px;
  line-height: 1.25;
  text-align: center;
  border-radius: 20px;
  border: none;
}
.btn-products {
  width: 63px;
  height: 24px;
  color: $main-background-color;
  background: $accent-background-color;
  margin-right: 8px;
  &:hover,
  &:focus {
    background: #c7133e;
  }
}
.btn-how-its-made {
  width: 83px;
  height: 24px;
  color: $main-title-color;
  background: $main-background-color;
  &:hover,
  &:focus {
    background: $hover-background;
  }
}
.hero-arrow {
  border-radius: 50%;
}
@media screen and (max-width: 767px) {
  .max-hero {
    max-width: 320px;
    height: 502px;
    margin: 0 auto;
    background-image: url(../images/hero-images/hero-ice-cream/ice-cream-mobile.png),
      url(../images/hero-images/hero-ellipse/ellipse-mobile.png);
    background-repeat: no-repeat;
    background-position: bottom 0 left 117px, top 83px left 36px;
    background-size: 171px 410px, 346 344;
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      .hero {
        background-image: url(../images/hero-images/hero-ice-cream/ice-cream-mobile@2x.png),
          url(../images/hero-images/hero-ellipse/ellipse-mobile@2x.png);
      }
    }
  }
  .hero {
    height: 502px;
  }
  .tittle-wrapper {
    width: 218px;
    height: 106px;
    padding-top: 193px;
  }
  .secondary-title {
    margin-bottom: 19px;
  }
  .hero-opportunities-list {
    display: none;
  }
  .hero-description {
    display: none;
  }
  .hero-arrow {
    display: none;
  }
}
@media screen and (min-width: 480px) {
  .max-hero {
    max-width: 500px;
    height: 502px;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
    background-image: url(../images/hero-images/hero-ice-cream/ice-cream-tablet.png),
      url(../images/hero-images/hero-ellipse/ellipse-tablet.png);
    background-repeat: no-repeat;
    background-size: 143px 336px, 324px 322px;
    background-position: left 80% bottom, top 60% left 90%;
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      .max-hero {
        background-image: url(../images/hero-images/hero-ice-cream/ice-cream-tablet@2x.png),
          url(../images/hero-images/hero-ellipse/ellipse-tablet@2x.png);
      }
    }
  }
}
@media screen and (min-width: 768px) {
  .max-hero {
    max-width: 700px;
    height: 399px;
    margin: 0 auto;
    background-image: url(../images/hero-images/hero-girl/girl-tablet.png),
      url(../images/hero-images/hero-milk/milk-tablet.png),
      url(../images/hero-images/hero-ice-cream/ice-cream-tablet.png),
      url(../images/hero-images/hero-ellipse/ellipse-tablet.png);
    background-repeat: no-repeat;
    background-size: 168px 133px, 124px 126px, 143px 336px, 324px 322px;
    background-position: left 85% bottom, left 0 bottom 28px, left 55% bottom, top 50% left 62%;
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      .max-hero {
        background-image: url(../images/hero-images/hero-girl/girl-tablet@2x.png),
          url(../images/hero-images/hero-milk/milk-tablet@2x.png),
          url(../images/hero-images/hero-ice-cream/ice-cream-tablet@2x.png),
          url(../images/hero-images/hero-ellipse/ellipse-tablet@2x.png);
      }
    }
  }
  .hero {
    height: 399px;
  }
  .hero-wrapper {
    display: flex;
    justify-content: space-between;
  }
  .tittle-wrapper {
    padding-top: 102px;
  }
  .hero .secondary-title {
    font-size: 22px;
    margin-bottom: 20px;
  }
  .hero .main-title {
    font-size: 34px;
  }
  .hero-opportunities-list {
    display: flex;
    flex-direction: column;
    margin: 94px auto 0 60%;
  }
  .hero-opportunities-list-item {
    text-align: right;
    background-image: url(../images/hero-images/hero-circle/circle-tablet.png);
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: right 0 top 0;
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      .hero-opportunities-list-item {
        background-image: url(../images/hero-images/hero-circle/circle-tablet@2x.png);
      }
    }
    &:not(:last-child) {
      margin-bottom: 13px;
    }
  }
  .hero-opportunities-list-item-figures {
    font-family: $title-font;
    font-weight: normal;
    font-size: 28px;
    line-height: 1.14;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $accent-text-color;
    padding-right: 8px;
  }
  .hero-opportunities-list-item-desc {
    font-family: $main-font;
    font-weight: normal;
    font-size: 8px;
    line-height: 1.25;
    color: $main-text-color;
    padding-right: 8px;
    margin: 0;
  }
  .hero-description-wrapper {
    width: 114px;
    height: 48px;
    margin-left: 120px;
  }
  .hero-description {
    font-family: $main-font;
    font-weight: normal;
    font-size: 8px;
    line-height: 150%;
    color: $main-text-color;
    margin-top: 66px;
    margin-bottom: 7px;
  }
  .hero-arrow {
    width: 18px;
    height: 18px;
  }
}
@media screen and (min-width: 1200px) {
  .max-hero {
    max-width: 1050px;
    height: 665px;
    margin: 0 auto;
    background-image: url(../images/hero-images/hero-girl/girl-desktop.png),
      url(../images/hero-images/hero-milk/milk-desktop.png),
      url(../images/hero-images/hero-ice-cream/ice-cream-desktop.png),
      url(../images/hero-images/hero-circle/circle-desktop.png),
      url(../images/hero-images/hero-circle/circle-desktop.png),
      url(../images/hero-images/hero-ellipse/ellipse-desktop.png);
    background-repeat: no-repeat;
    background-size: 293px 232px, 188px 191px, 236px 557px, 30px 30px, 30px 30px, 538px 538px;
    background-position: left 100% bottom, left 0 top 429px, left 55% bottom, left 1070px top 153px,
      left 1070px top 240px, left 65% top 52px;
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      .hero {
        background-image: url(../images/hero-images/hero-girl/girl-desktop@2x.png),
          url(../images/hero-images/hero-milk/milk-desktop@2x.png),
          url(../images/hero-images/hero-ice-cream/ice-cream-desktop@2x.png),
          url(../images/hero-images/hero-circle/circle-desktop@2x.png),
          url(../images/hero-images/hero-circle/circle-desktop@2x.png),
          url(../images/hero-images/hero-ellipse/ellipse-desktop@2x.png);
      }
    }
  }
  .hero {
    height: 665px;
  }
  .tittle-wrapper {
    padding-top: 171px;
  }
  .hero .secondary-title {
    font-size: 38px;
    margin-bottom: 25px;
  }
  .hero .main-title {
    font-size: 58px;
  }
  .hero-button {
    font-size: 14px;
    line-height: 1.28;
  }
  .btn-products {
    width: 104px;
    height: 40px;
  }
  .btn-how-its-made {
    width: 138px;
    height: 40px;
  }
  .hero-opportunities-list {
    margin: 153px 0 0 60%;
  }
  .hero-opportunities-list-item {
    text-align: right;
    background-image: url(../images/hero-images/hero-circle/circle-desktop.png);
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: right 0 top 0;
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      .hero-opportunities-list-item {
        background-image: url(../images/hero-images/hero-circle/circle-desktop@2x.png);
      }
    }
    &:not(:last-child) {
      margin-bottom: 18px;
    }
  }
  .hero-opportunities-list-item-figures {
    font-size: 46px;
    padding-right: 18px;
  }
  .hero-opportunities-list-item-desc {
    font-size: 14px;
    line-height: 1.28;
    padding-right: 18px;
  }
  .hero-description-wrapper {
    width: 200px;
    height: 78px;
    margin-left: 180px;
    margin-top: 112px;
  }
  .hero-description {
    font-size: 14px;
    line-height: 140%;
    margin-bottom: 20px;
  }
  .hero-arrow {
    width: 26px;
    height: 26px;
  }
}
